@font-face {
	font-family: 'Myriad Pro';
	src: url('font/MyriadPro-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('font/MyriadPro-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('font/MyriadPro-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('font/MyriadPro-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('font/MyriadPro-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('font/MyriadPro-SemiboldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
}