/* Make clicks pass-through */
#nprogress .bar {
	background: rgba(51,170,68,0.666);

	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;

	width: 100%;
	height: 5px;
}

/* Fancy blur effect */
#nprogress .peg {
	display: block;
	position: absolute;
	right: 0px;
	width: 100px;
	height: 100%;
	box-shadow: 0 0 10px rgba(51,170,68,0.666), 0 0 5px rgba(51,170,68,0.666);
	opacity: 1.0;

	-webkit-transform: rotate(3deg) translate(0px, -4px);
	-ms-transform: rotate(3deg) translate(0px, -4px);
	transform: rotate(3deg) translate(0px, -4px);
}