body {
	-webkit-filter: grayscale(100%) !important;
	-moz-filter: grayscale(100%) !important;
	-o-filter: grayscale(100%) !important;
	-ms-filter: grayscale(100%) !important;
	color: #000000;
	background: #FFFFFF;
}